<footer class="pied">
  <div class="shell">
    <div class="pied-grille">
      <div>
        <h4 data-i18n="footer.locations.heading">Localisations</h4>
        <ul>
          <li>
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-school"></use></svg>
            Arles, 13200
          </li>
          <li>
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-home"></use></svg>
            L'Isle-sur-la-Sorgue, 84800
          </li>
        </ul>
      </div>

      <div>
        <h4 data-i18n="footer.networks.heading">Mes réseaux</h4>
        <div class="reseaux">
          <a href="https://linkedin.com/in/thomas-poissonnier-70064529b"
             target="_blank" rel="noopener noreferrer">
            LinkedIn
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-external"></use></svg>
          </a>
          <a href="https://github.com/PoissonnierThomas"
             target="_blank" rel="noopener noreferrer">
            GitHub
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-external"></use></svg>
          </a>
        </div>
      </div>

      <div>
        <h4 data-i18n="footer.contact.heading">Contact direct</h4>
        <div class="reseaux">
          <a href="mailto:poissonnierthomaspro@gmail.com">
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-mail"></use></svg>
            poissonnierthomaspro@gmail.com
          </a>
          <a href="mailto:thomas.poissonnier@etu.univ-amu.fr">
            <svg class="ico" aria-hidden="true"><use href="assets/icons.svg#ico-school"></use></svg>
            thomas.poissonnier@etu.univ-amu.fr
          </a>
        </div>
      </div>
    </div>

    <p class="copyright" data-i18n="footer.copyright">
      Copyright © Thomas Poissonnier 2026 - Étudiant en BUT Informatique
    </p>
  </div>
</footer>
